.projects-container {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  /* max-width: 1000px; */
  background-color: rgb(90, 79, 79);
}

.projects-section {
  display:flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.image-container {
 display: flex;
 flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  position: relative;
  width: 400px;
 
}

/* .img-link {
  display: flex;
 flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
  width: 400px; 
} */

.project-img {
  margin: 20px;
  width: 360px;
  height: 250px;
   box-shadow:2px 2px 20px rgb(73, 73, 73);
}

.overlay {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 20px;
  height: 250px;
  width: 360px;
  opacity: 0;
  transition: .5s ease;
  background-color: aliceblue;
  cursor: pointer;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.project-description {
  font-size: 15px;
}

.image-container:hover .overlay {
  opacity: 0.9;
}
